body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background-color: aquamarine;
}
menu{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top:10px;
    right: 30px;
cursor: pointer;
z-index: 10;
}
.links {
float:right; 
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px; 
    padding-right: 9px; 
    padding-bottom: 5px;
    font-family:sans-serif;
    font-size: 20px }
.links:hover { 
    background-color: aqua; }

}
html {
    scroll-behavior: smooth; }
a { text-decoration: none; }
.article:hover { color:fuchsia; }

h1 {

    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
